body{
    background-color: red;
}

#ninja{
    height: 160px;
}
#withNinja{
    /* position: relative;
    display: inline-block; */
    width: 160px;
    height: 160px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/13060/ninja-sprite.png) 0 0;
}

